#setup {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.select {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  width: 50%;
}

.selected-category {
  background-color: blue!important;
  color: white;
}
