#app {
  background-color: lightgray;
  display: grid;
  grid-template-rows: 10vh 90vh;
  height: 100%;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: darkslategray;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}

.btn:hover {
  background-color: darkslategray;
  color: white;
}
